html 
  box-sizing: border-box
  font-size: 62.5%
  /** 1rem = 10px **/

*, *:before, *:after 
  box-sizing: inherit

//Box Sizing

  
/** Globales **/
.contenedor 
    max-width: 120rem
    width: 90%
    margin: 0 auto

h1,
h2,
h3,
h4
    font-family: 'PT Sans', sans-serif
h1
    font-size: 4.5rem
h2
    font-size: 3.8rem
    line-height: 1.2
h3
    font-size: 3rem
h4
    font-size: 2.4rem
img 
    max-width: 100%

.section 
    padding: 3rem 0
.section 
    p 
    font-size: 1.8rem
    text-align: center

h3::after 
    content: ''
    margin: 0 auto
    background-image: url(../img/separador.png)
    height: 3rem
    width: 10rem
    display: block

@import header
@import main
@import footer
@import mediaqueries
