html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** 1rem = 10px */ }

*, *:before, *:after {
  box-sizing: inherit; }

/** Globales */
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto; }

h1,
h2,
h3,
h4 {
  font-family: "PT Sans", sans-serif; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 3.8rem;
  line-height: 1.2; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.4rem; }

img {
  max-width: 100%; }

.section {
  padding: 3rem 0; }

.section {
  font-size: 1.8rem;
  text-align: center; }

h3::after {
  content: "";
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 3rem;
  width: 10rem;
  display: block; }

header {
  background: #131921;
  /*Menu Movil */ }
  header .contenedor-logo-redes {
    padding: 1rem 0; }
    header .contenedor-logo-redes .logo {
      text-align: center; }
      header .contenedor-logo-redes .logo img {
        width: 6rem; }
    header .contenedor-logo-redes form .btn {
      margin-left: -1.4rem;
      background: #F3A847; }
    header .contenedor-logo-redes .buscador form {
      display: grid;
      grid-template-columns: 90% 10%; }
    header .contenedor-logo-redes .person {
      display: none;
      text-align: center; }
      header .contenedor-logo-redes .person a {
        color: #ffffff;
        font-size: 3rem; }
    header .contenedor-logo-redes .carrito-compras {
      font-size: 3rem;
      display: none;
      text-align: center; }
      header .contenedor-logo-redes .carrito-compras a {
        color: white; }
  header .menu-movil {
    width: 5rem;
    display: block;
    margin-top: 0.5rem; }
    header .menu-movil span {
      height: 0.5rem;
      margin-bottom: 0.6rem;
      background-color: #ffffff;
      display: block; }
  header .menu-movil:hover {
    cursor: pointer; }
  header nav {
    background: #232F3E; }
    header nav .container a {
      color: #ffffffd2;
      font-size: 1.8rem;
      font-family: "Roboto", sans-serif;
      display: block;
      text-align: center;
      padding: 1rem; }
    header nav .container a:hover {
      text-decoration: underline;
      color: #ffffff; }

main .slideshow {
  background: #E7E7E7; }
  main .slideshow article .contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    text-align: center;
    padding: 3rem 0;
    color: #474646; }
    main .slideshow article .contenedor .icons {
      margin: 1rem 0; }
      main .slideshow article .contenedor .icons i {
        font-size: 4rem; }
      main .slideshow article .contenedor .icons p {
        margin: 0.5rem 0 0rem 0rem;
        color: black;
        font-size: 1.7rem;
        font-family: "open-sans", arial; }
      main .slideshow article .contenedor .icons span {
        font-size: 1.4rem;
        font-family: "open-sans", sans-serif; }

/* Section Productos */
.lista-productos .productos .producto {
  text-align: center;
  margin-bottom: 3rem; }
  .lista-productos .productos .producto p {
    margin: 0;
    font-family: "helvetica";
    font-weight: 400;
    font-size: 1.2rem; }
  .lista-productos .productos .producto .btn button {
    margin-top: 1rem;
    padding: 0.6rem 1rem; }

/* Section Banner Refacciones */
.newslatter {
  position: relative;
  height: auto; }

.newslatter::before {
  background-image: url(../img/banner-refacciones.jpg);
  content: ""; }

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: brightness(0.5); }

.contenido {
  position: relative;
  padding: 10rem 0;
  color: #ffffff;
  text-align: center; }

.contenido p {
  font-size: 2rem;
  text-transform: capitalize; }

.contenido h3 {
  font-size: 4vw;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: bold; }

.btn-transparente {
  background: transparent;
  padding: 0.5rem 5rem;
  transition: background-color 0.2s;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  font-weight: normal;
  display: inline-block;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
  border: 1px solid #fe4918; }

.btn-transparente:hover {
  background: #fe4918;
  color: white;
  text-decoration: none;
  transition: background-color 0.5s; }

/* Secrtion video */
footer {
  padding: 2rem 0;
  background: #E7E7E7;
  bottom: 0;
  width: 100%; }
  footer p {
    font-weight: 600;
    text-align: center; }
  footer .redes-sociales {
    font-size: 3.5rem;
    text-align: center; }
    footer .redes-sociales a {
      width: 4.5rem;
      height: 4.5rem;
      display: inline-block;
      margin-left: 0.5rem; }
      footer .redes-sociales a.face {
        color: #3b5998; }
      footer .redes-sociales a.face:hover {
        background: #ffffffee; }
      footer .redes-sociales a.you {
        color: #ff0000; }
      footer .redes-sociales a.you:hover {
        background: #ffffffee; }
      footer .redes-sociales a.what {
        color: #25d366; }

/* EQUIPOS MOVILES */
@media (min-width: 582px) {
  /* Section video */
  main .video-refacciones .video iframe {
    height: 40rem; } }
@media (max-width: 768px) {
  header .contenedor-logo-redes {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: auto;
    column-gap: 1rem; } }
/* EQUIPOS IPAD  */
@media (min-width: 768px) {
  header {
    /*Menu Movil */ }
    header .menu-movil {
      display: none; }
    header .contenedor-logo-redes {
      display: grid;
      grid-template-columns: 10% 65% 10% 0%;
      column-gap: 2rem;
      justify-items: auto; }
      header .contenedor-logo-redes .buscador form {
        display: grid;
        grid-template-columns: 90% 10%; }
        header .contenedor-logo-redes .buscador form input {
          height: 3rem;
          font-size: 1.6rem; }
        header .contenedor-logo-redes .buscador form button {
          height: 3rem; }
    header .container .person {
      display: block; }
    header .container .carrito-compras {
      display: block; }
    header nav .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      header nav .container a {
        display: inline-block; }

  /*   SLIDESHOW - MAIN */
  .slideshow {
    background: #E7E7E7; }
    .slideshow article .contenedor {
      grid-template-columns: repeat(3, 1fr) !important;
      text-align: center; }
      .slideshow article .contenedor .icons i {
        font-size: 4rem; }
      .slideshow article .contenedor .icons p {
        margin: 1.1rem 0 0rem 0;
        color: black;
        font-size: 1.7rem;
        font-family: "open-sans", arial; }
      .slideshow article .contenedor .icons span {
        font-size: 1.4rem;
        font-family: "open-sans", sans-serif; } }
/* EQUIPOS DESKTOP */
 *
 * @media (min-width: 1024px)
 *     header  */

/*# sourceMappingURL=estilos.css.map */
