footer 
    padding: 2rem 0
    background: #E7E7E7
    p
        font-weight: 600
        text-align: center
    .redes-sociales
        font-size: 3.5rem
        text-align: center
        a
            width: 4.5rem
            height: 4.5rem
            display: inline-block
            margin-left: .5rem
            &.face
                color: #3b5998
            &.face:hover
                background: #ffffffee
            &.you
                color: #ff0000
            &.you:hover
                background: #ffffffee
            &.what
                color: #25d366
        