body
header
    background: #131921
    .contenedor-logo-redes
        padding: 1rem 0
        .logo
            text-align: center
            img
                width: 6rem
        form
            .btn
                margin-left: -1.4rem
                background: #F3A847
        .buscador
            form
                display: grid
                grid-template-columns: (90% 10%)   
        .redes-sociales
            display: none
            font-size: 3rem
            a
                border-radius: 50%
                width: 4.5rem
                height: 4.5rem
                text-align: center
                line-height: 4.5rem
                display: inline-block
                background: #ffffff
                margin-left: .5rem
                &.face
                    color: #3b5998
                &.face:hover
                    background: #ffffffee
                &.you
                    color: #ff0000
                &.you:hover
                    background: #ffffffee
                &.what
                    color: #25d366
                &.what:hover
                    background: #ffffffee
               
    /*Menu Movil*/
    .menu-movil
        width: 5rem
        display: block
        margin-top: .5rem
        span
            height: .5rem
            margin-bottom: .6rem
            background-color: #ffffff
            display: block
    .menu-movil:hover
        cursor: pointer 
    nav
        background: #232F3E
        a
            color: #ffffffd2
            font-size: 1.8rem
            font-family: 'Roboto', sans-serif
            transition: all .6s ease 
            display: block
            text-align: center
            padding: 1rem
        a:hover
            text-decoration: none
            color: #ffffff

