body
header
    background: #131921
    .contenedor-logo-redes
        padding: 1rem 0
        .logo
            text-align: center
            img
                width: 6rem
        form
            .btn
                margin-left: -1.4rem
                background: #F3A847
        .buscador
            form
                display: grid
                grid-template-columns: (90% 10%)   
        .carrito-compras
            font-size: 3rem
            display: none
            text-align: center
            a
                color: white
               
    /*Menu Movil*/
    .menu-movil
        width: 5rem
        display: block
        margin-top: .5rem
        span
            height: .5rem
            margin-bottom: .6rem
            background-color: #ffffff
            display: block
    .menu-movil:hover
        cursor: pointer 
    nav
        background: #232F3E
        .container
            a
                color: #ffffffd2
                font-size: 1.8rem
                font-family: 'Roboto', sans-serif
                display: block
                text-align: center
                padding: 1rem
            a:hover
                text-decoration: underline
                color: #ffffff

