@media (max-width: 768px)
    header
        .contenedor-logo-redes
            display: grid
            grid-template-columns: (20% 60% 20%)
            justify-items: auto
            column-gap: 10px
            .buscador
                form
                    display: grid
                    grid-template-columns: (90% 10%)
        
        
            

@media (min-width: 768px)
    header
        /*Menu Movil*/
        .menu-movil
            display: none
        .contenedor-logo-redes
            display: grid
            grid-template-columns: (20% 40% 40%)
            justify-items: center
            .buscador
                form
                    display: grid
                    grid-template-columns: (90% 10%)
        .container
            .redes-sociales
                display: block
        nav 
            .container
                display: grid
                grid-template-columns: repeat(3, 1fr)
                a
                    display: inline-block
                    
