/* EQUIPOS MOVILES */

@media (min-width: 582px)
    /* Section video */
    main
        .banner-refacciones
            .video
                iframe
                    height: 40rem    

@media (max-width: 768px)
    header
        .contenedor-logo-redes
            display: grid
            grid-template-columns: (20% 60% 20%)
            justify-items: auto
            column-gap: 1rem
    
        
        
        
            
/* EQUIPOS IPAD  */
 
@media (min-width: 768px)
    header
        /*Menu Movil*/
        .menu-movil
            display: none
        .contenedor-logo-redes
            display: grid
            grid-template-columns: (10% 65% 10% 0%)
            column-gap: 2rem
            justify-items: auto
            .buscador
                form
                    display: grid
                    grid-template-columns: (90% 10%) 
                    input
                        height: 3rem
                        font-size: 1.6rem
                    button
                        height: 3rem
        .container
            .person
                display: block
            .carrito-compras
                display: block
        nav 
            .container
                display: grid
                grid-template-columns: repeat(3, 1fr)
                a
                    display: inline-block
    /*   SLIDESHOW - MAIN*/
    main
    .slideshow
        background: #E7E7E7
        article
            .contenedor
                grid-template-columns: repeat(3, 1fr)!important
                text-align: center
                .icons
                    i
                        font-size: 4rem
                    p
                        margin: 1.1rem 0 0rem 0
                        color: black
                        font-size: 1.7rem
                        font-family: 'open-sans', arial
                    span
                        font-size: 1.4rem
                        font-family: 'open-sans', sans-serif
                    

/* EQUIPOS DESKTOP */
 
    @media (min-width: 1024px)
        header 
            