@media (max-width: 728px)
    header
        .contenedor-logo-redes
            display: grid
            grid-template-columns: (20% 80%)
            justify-items: center
            .buscador
                form
                    display: grid
                    grid-template-columns: (90% 10%)
                        
        .container
            .redes-sociales
                display: none